html, body {
    margin: 0 !important;
    padding: 0 !important;

    width: 100%;
    height: 100%;

    background-color: #000 !important;
    color: #fff !important;

    font-family: monospace;
    font-size: 16px;
}

/* TERMINAL WINDOW */
#terminal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;

    padding: 16px;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 6px;

    white-space: pre-wrap;
    word-break: break-word;

    background: #000 !important;
    color: #fff !important;
}

/* LINES */
.line {
    display: block;
}

/* INPUT BAR */
#input-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 50px;

    display: flex;
    align-items: center;

    padding: 0 12px;

    border-top: 1px solid #222;

    background: #000 !important;
    color: #fff !important;
}

.prompt {
    margin-right: 10px;
    color: #aaa;
}

#command {
    flex: 1;

    background: none;
    border: none;
    outline: none;

    color: #fff;
    font-family: monospace;
    font-size: 16px;
}
