*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#08130a;
    color:#72ff87;

    font-family:'VT323', monospace;
    font-size:24px;

    overflow:hidden;
}

#crt{
    width:100vw;
    height:100vh;

    padding:30px;

    background:
    linear-gradient(rgba(0,255,120,.04), rgba(0,255,120,.04)),
    repeating-linear-gradient(
        to bottom,
        rgba(255,255,255,.02) 0px,
        rgba(255,255,255,.02) 2px,
        transparent 2px,
        transparent 4px
    );
}

#terminal{
    height:100%;
    overflow-y:auto;
    white-space:pre-wrap;
}

.line{
    margin-bottom:8px;
}

.prompt{
    color:#b8ffbf;
    margin-right:8px;
}

#input-line{
    display:flex;
    align-items:center;
}

#command{
    flex:1;

    background:none;
    border:none;
    outline:none;

    color:#72ff87;

    font-family:inherit;
    font-size:inherit;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#3aff6a55;
}

.glow{
    text-shadow:
        0 0 4px #72ff87,
        0 0 10px #72ff87;
}

.secret{
    color:#ffe66d;
}

hr{
    border:0;
    border-top:1px solid #2c6;
    margin:15px 0;
}

@keyframes blink{

50%{
opacity:0;
}

}

.cursor{

animation:blink 1s infinite;

}
